<nav class="sidemenu">
    <ul>
        <li>
            <img src="../../../assets/image/logo.png" alt="logotipo da pagina" width="40px">
            <span class="logo" >Crud Users</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/crud"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
        <a href="https://firebase.google.com/?hl=pt-br" target="_blank"><li><mat-icon>description</mat-icon>Firebase</li></a>
        <a href="https://angular.dev/" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Angular</li></a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>sair</li>
    </ul>
</nav>
